@font-face {
    font-family:metal;
    src: url(f../onts/baby-metal.ttf);
}
@font-face {
    font-family:matrix;
    src: url(../fonts/matrix.ttf);
}

@keyframes head-color {
    0%{
       color: powderblue;
    }

    100%{
        color: darkorchid;

     }
}
@keyframes foot-move {
    0%{
        left:0vw;
    }
    100%{
        left: calc(100vw - 500px)
     }
}

@keyframes head-move {
    0%{
        left: calc(100vw - 500px)
    }
    100%{
        left:0vw;
     }
}

@keyframes ani {
    0%{
        visibility: visible;
        background-image:url(../pics/bliss.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    30%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(black,black);
        width: 100vw;
        height: 100vh;
    }

    40%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../pics/glitch.gif);
        width: 100vw;
        height: 100vh;
    }
    45%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(black,black);
        width: 100vw;
        height: 100vh;
    }

    50%{
        visibility: visible;
        background-image: url(../pics/bliss.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    55%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(black,black);
        width: 100vw;
        height: 100vh;
    }
    60%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../pics/glitch.gif);
        width: 100vw;
        height: 100vh;
    }

    98%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../pics/glitch.gif);
        width: 100vw;
        height: 100vh;
    }
    99%{
        visibility: visible;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: linear-gradient(black,black);
        width: 100vw;
        height: 100vh;
    }
    100%{
        visibility: collapse;
        width: 0vw;
        height: 0vh;
    }
    
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-image: url(../gifs/bg/space2.gif);
    background-repeat: repeat;
}

body{
    background-image: radial-gradient(transparent,transparent,darkorchid);
    width: 100vw;
    height:100vh;
} 

header{
    width: max-content;
    background-image: radial-gradient(rgb(187, 207, 245), cornflowerblue,transparent, transparent);
    position: fixed;
    bottom: 0px;
    animation: head-move 6s infinite alternate linear;
    z-index: 4;
}

main{
    position: relative;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

footer{
    width: max-content;
    background-image: radial-gradient(rgb(187, 207, 245), cornflowerblue,transparent, transparent);
    position: fixed;
    top: 0px;
    animation: foot-move 6s infinite alternate linear;
    z-index: 4;
}

h1{
    font-size: 5rem;
    animation: head-color .5s infinite alternate;
    /* color: powderblue; */
    font-family: matrix;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    padding-top: 14rem;
    border-radius: 50%;
}

a{
    text-decoration: inherit;
    color: inherit;
}

#ani{
    position: fixed;
    animation: ani 5s 1;
    z-index: 10;
}

#one{
    background-image: url(../gifs/edgy/anitorch.gif);
}

#two{
    background-image: url(../gifs/pretty/spinheart.gif);
}

#three{
    background-image: url(../gifs/weird/discoball.gif);
}

#four{
    background-image: url(../gifs/icons/cd2.gif);
}

.one-one{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.one-one, img{
    width: 100%;
}
.one-one, video{
    width: 75%;
    border-radius: 100%;
}

.inline{
    display: inline;
}

.sm-img{
    width: 5em;
}

.item{
    position: relative;
    /* width: 100%;
    height: 100%; */
    margin: 1rem;
    border-radius: 50%;
}

.mid{
    z-index: 5;
    height: 10rem;
    width:20rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: radial-gradient(powderblue,darkorchid,transparent,transparent);
    border-radius: 50%;
}

.off{
    z-index: 5;
    padding: 1rem;
    width: 2rem;
    position: absolute;
}
