@font-face {
    font-family: matrix;
    src: url(fonts/matrix.ttf);
}
@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}

@keyframes glitch {
    0%{
        font-family: Arial, Helvetica, sans-serif;
    }
    48%{
        font-family: Arial, Helvetica, sans-serif; 
    }
    50%{
        font-family: matrix;
    }
    51%{
        font-family: Arial, Helvetica, sans-serif;
    }
    100%{
        font-family: Arial, Helvetica, sans-serif;
    }
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(cursor/CursorsXP.cur), auto;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(pics/bliss.jpg);
    width:100vw;
    height: 100vh;
}

a{
    color: inherit;
    text-decoration: inherit;
    cursor: url(cursor/Cursor_15.cur), auto;
}

.glitch{
    font-family: matrix;
}


.error-box{
    /* position: relative; */
    display: block;
}

.error{
    
    bottom: 0;
    left: 8rem;
    /* box-sizing: unset; */
    z-index: 4;
    width: 3rem;
    height: 2rem;
    position: absolute;
    background-image: url(pics/wittle-head.png);
    background-size: 2rem;
    background-repeat: no-repeat;
}

.error-box:hover .box{
    display: block;
}

.box{
    left: 8rem;
    bottom:2rem;
    margin: 0 auto;
    z-index: 2;
    display: none;
    background-image: linear-gradient(rgb(47, 130, 255) 1%, blue 10%);
    padding: .25rem .5rem .5rem .5rem;
    border: 1px black solid;
    border-radius: 5px;
    max-width: 35rem;
    position: absolute;
}


.inside{
    position: relative;
    background-color: beige;
    padding: 2rem;
    border: black 1px solid;
}

.text{
    animation: glitch 7s infinite;
    font-size: 1.5rem;    
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-shadow: 2px 2px black;
    font-weight: 600;
    text-align: left;
    display: inline;
}

.ex{
    box-sizing: unset;
    right: .5rem;
    top: .25rem;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-image: linear-gradient(145deg, white 5%, red, darkred);
    border-radius: 5px;
    border: white 1px solid;
}

.rotated{
    position: relative;
    font-size: 2.5rem;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    transform: rotate(45deg);
    line-height: 1.5rem;
}

.pop{
    justify-content: center;
   font-family: sans-serif;
   padding: 1rem 3rem;
   /* margin-left: auto;
   margin-right: auto;
   width: max-content; */
}

.okay{
    cursor: url(cursor/Cursor_15.cur), auto;
    font-weight: lighter;
    position: relative;
    background-color: snow;
    color: rgb(29, 29, 29);
    border: 3px double dimgrey;
    border-radius: 3px;
    width: 5rem;
    padding: 2px;
    left: calc(50% - 2.5rem);
}
.okay:hover{
    background-color:orchid ;
    color: white;
    border: 3px double black;
    font-family: matrix;
    line-height: .95rem;
    transition: .2s;
}
.circle{
    z-index: 2;
    left: 1rem;
    top: 1rem;
    background-image: linear-gradient(145deg, white 5%, red, darkred);
    position: absolute;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: black 1px solid;
}

.circle .rotated{
    text-align: center;
    position: relative;
    font-size: 3.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
}

.shadow{
    top: -.9rem;
    left: -.9rem;
    background-color: black;
    position: relative;
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    padding: 0;
}

.circle .rotated:active{
    background-image: linear-gradient( 90deg, lightgrey 5%, rgb(185, 0, 0), rgb(92, 0, 0));
}

.ex .rotated:active{
    color: dimgrey;
}
.ex:active{
    border-color: dimgrey;
}

.start-bar{
    left: 0;
    bottom: 0;
    position: absolute;
    height: 2rem;
    width: 100%;
    background-image: linear-gradient(rgb(47, 130, 255) 1%, blue 10%);
}

.start{
    position: absolute;
    height: 2rem;
    left: -6px;
}

.start-show{
    width: 4.5rem;
    display: block;
    height: 100%;
}
.start-show:hover .start-menu{
    display: block;
} 
.start-menu{
    display: none;
    position: absolute;
    bottom: 2rem;
    padding: 6rem .4rem 1rem .4rem;
    /* height: 30rem;
    width: 20rem; */
    background-image: linear-gradient(rgb(47, 130, 255) 1% , blue 15%, blue 90%, rgb(13, 0, 133));
    border-radius: 5px;
    border: 1px black solid;
}
.menu{
    border: 1px black solid;
    z-index: 2;
    background-image: linear-gradient(to right, snow 50%, rgb(178, 199, 236) 51%);
    padding: 5rem;
}

.profile{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: black 1px 1px;
}

.log{
    padding-top: 1rem;
    line-height: 1rem;
    font-size: .5rem;
    color: white;
    font-family: pixel;
    position: relative;
}
.log img{
    border: 1px blue dashed;
}

h3{
    font-family: pixel;
    text-align: center;
    font-size: .5rem;
    color: white;
    opacity: .7;
    text-shadow: black 1px 1px;
}

.icons{
    top: 3rem;
    position: absolute;
    right: 3rem;
    height: max-content;
    /* cursor: url(cursor/Cursor_15.cur), auto; */
}
.ie img{
    cursor: url(cursor/Cursor_15.cur), auto;
}

.ie{
    margin: 0 auto;
    width: max-content;
    height: max-content;
    cursor: url(cursor/Cursor_15.cur), auto;
    margin-bottom: 3rem;
}

.ie:active{
    border: 1px black dashed;
    cursor: url(cursor/Cursor_15.cur), auto;
}
.log img:active{
    border: 1px black dashed;
    cursor: url(cursor/Cursor_15.cur), auto;
}

.rrr{
    position: absolute;
    width: 2rem;
    bottom: 3rem;
    right: 2rem;
}

.rrr:hover{
    cursor: url(cursor/Cursor_15.cur),auto;
}